<link rel="stylesheet" href="~/css/UnderConstruction.css" />
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="row error-row">
        <div class="row error-container-text">
            <img class="img-responsive error-image" src="~/images/under-construction.png" />
        </div>
    </div>
</div>